@using Konnekt.Presentation.Components;
@using Konnekt.Presentation.Components.Base

@inherits PresentationBase
@page "/"

<div class="home">
    <div class="home-container">

        <h3>Home</h3>

        @* <IconButton OnClick="NavigateAsync" />

        @foreach(var user in Users)
        {
            <p>@($"{user.Id} - {user.AccountName}")</p>
        } *@

    </div>
</div>