.konnektion {
    background-color: var(--color-tertiary);
    max-width: unset;
    height: inherit;
}

.konnektion__aside-left {
    border-right: var(--border-standard);
    height: inherit;
}

.konnektion__server-details {
}

    .konnektion__server-details h3 {
        width: inherit;
        line-height: revert;
    }
