@using Konnekt.Presentation.Components;
@using Konnekt.Presentation.Components.Base
@inherits PresentationBase

<h3 class="py-2 m-0">@($"{ChannelModel?.ChannelName} - Order : {ChannelModel?.ChannelOrder}")</h3>
