.konnektion {
    background-color: var(--color-tertiary);
    max-width: unset;
}

.konnektion__aside-left {
    border-right: var(--border-standard);
}

.konnektion__server-details {
}

    .konnektion__server-details h3 {
        width: inherit;
        line-height: revert;
    }

.konnektion__chat-container {
}

.konnektion__chat {
    border-top: var(--border-standard);
    height: 10%;
}

.konnektion__chat-messages {
    background-color: var(--color-primary);
    height: 90%;
}

.konnektion__members-container {
    border-left: var(--border-standard);
}
