@using Konnekt.Presentation.Components

@inherits PresentationPageBase
@page "/Server/Join/{JoinCode}"

<div class="home">
    <div class="home-container">

        <h3>Join Server: @JoinCode</h3>

    </div>
</div>