@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Rendering
@using System.Linq.Expressions
@inherits InputText

<div class="konnekt-input d-flex align-items-center">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="pe-2 align-self-center">@Label</label>
    }
    @{
        base.BuildRenderTree(__builder);
    }
    <ValidationMessage For="For" />
</div>

@code {
    [Parameter, EditorRequired]
    public Expression<Func<string>> For { get; set; } = default!;

    [Parameter]
    public string? Label { get; set; }
}
