@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Rendering
@typeparam T

<label>@Label</label>

@if (typeof(T) == typeof(string))
{
    <InputText @bind-Value="@Value" />
}

<ValidationMessage For="() => Value" />
