@using Konnekt.Presentation.Components.Base
@using Konnekt.Presentation.Components.KonnektButton
@using Konnekt.Presentation.Components.KonnektButton.Models
@using Konnekt.Presentation.Components.KonnektInput
@using Konnekt.Presentation.Components.Popup.Models
@using Konnekt.Presentation.Components.ServerBar.Models
@using Konnekt.Presentation.Components.ServerBar.ServerBarItem
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@inherits PresentationBase

<div class="@ServerBarClasses">

    @* <div class="server-bar__controls d-flex flex-row-reverse justify-content-center">

        <KonnektButton Icon="@CollapsedClasses"
                Class="justify-content-center"
                OnClick="() => ToggleCollapse()"
                ButtonSize="@(_collapsed ? ButtonSize.Square : ButtonSize.Max)"/>

    </div> *@

    <div class="px-2 overflow-y-auto overflow-x-hidden">

        @if (Layout is not null)
        {
            <KonnektButton Icon="fa-solid fa-square-plus"
                    Class="mb-1 mt-2"
                    ButtonSize="_collapsed ? ButtonSize.Square : ButtonSize.Max"
                    Label="@(_collapsed ? string.Empty : "Add Konnektion")"
                    OnClick="() => AddNewKonnektionClickedAsync()" />
        }

        @foreach (var server in _servers)
        {
            <ServerBarItem Server="server" RenderServerName="!_collapsed" />
        }
    </div>

</div>

@code {
    public RenderFragment JoiningServerFragment(object editContext) => __builder =>
    {
        if (editContext is EditContext context && context.Model is JoiningServerModel jsmData)
        {
            <KonnektInput @bind-Value="jsmData.JoinCode"
                          For="() => jsmData.JoinCode"
                          Label="/Server/Join/" />
        }
    };

    public RenderFragment CreatingServerFragment(object editContext) => __builder =>
    {
        if (editContext is EditContext context && context.Model is CreatingServerModel csmData)
        {
            <KonnektInput @bind-Value="csmData.ServerName"
                          For="() => csmData.ServerName"
                          Label="Server name:" />
        }
    };
}