@using Konnekt.Presentation.Components.IconButton
@using Konnekt.Presentation.Components.ServerBar.ServerItem

<div class="@_serverBarClasses">

    <div class="server-bar__controls">
        
        @if (_collapsed)
        {
            <p class="server-bar__company-logo">[K]</p>
        }
        else
        {
            <p class="server-bar__company-logo">[K] - Konnekt</p>
        }

        <IconButton Class="server-bar__controls-icon" IconClass="@_collapsedClasses" OnClick="() => ToggleCollapse()" />

    </div>

    <div class="server-bar__container">
        @foreach (var server in _servers)
        {
            <ServerItem ServerName="@(_collapsed ? string.Empty : server)" />
        }
    </div>

</div>