@using Konnekt.Presentation.Components.Button
@using Konnekt.Presentation.Components.Popup.Models
@using Konnekt.Presentation.Components.ServerBar.Models
@using Konnekt.Presentation.Components.ServerBar.ServerBarItem
@using Konnekt.Presentation.Pages.Server.Joining
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop

<div class="@_serverBarClasses">

    <div class="server-bar__controls d-flex flex-row-reverse justify-content-center">

        <Button Icon="@_collapsedClasses"
                Class="justify-content-center"
                OnClick="() => ToggleCollapse()" />

    </div>

    <div class="ps-2 overflow-y-auto overflow-x-hidden">

        @if (Layout is not null)
        {
            <Button Icon="fa-solid fa-square-plus"
                    Class="mb-1 mt-2"
                    ButtonSize="_collapsed ? ButtonSize.Square : ButtonSize.Max"
                    Label="@(_collapsed ? string.Empty : "Add new Konnektion")"
                    OnClick="() => AddNewKonnektionClickedAsync()" />
        }

        @foreach (var server in _servers)
        {
            <ServerBarItem ServerName="@(_collapsed ? string.Empty : server)" />
        }
    </div>

</div>

@code {
    public RenderFragment JoiningFragment(object editContext) => __builder =>
    {
        if (editContext is EditContext context && context.Model is JoiningServerModel jsmData)
        {
            <label>/Server/Join/</label>
            <InputText @bind-Value="jsmData.JoinCode" />
            <ValidationMessage For="() => jsmData.JoinCode" />
        }
    };
}