@using Konnekt.Presentation.Components.IconButton
@using Konnekt.Presentation.Components.ServerBar.ServerBarItem

<div class="@_serverBarClasses">

    <div class="server-bar__controls">
        
        <IconButton Class="server-bar__controls-icon" Icon="@_collapsedClasses" OnClick="() => ToggleCollapse()" />

    </div>

    <div class="server-bar__container">
        @foreach (var server in _servers)
        {
            <ServerBarItem ServerName="@(_collapsed ? string.Empty : server)" />
        }
    </div>

</div>