.button {
    /**/
    height: 3rem;
    width: var(--button--width);
    background-color: var(--color-pink);
}

    .button:hover {
        background-color: var(--color-pink-darken);
    }

.button-icon {
    font-size: 2rem;
    width: 2rem;
}

/*#region Width Modifiers*/

.button__width_max {
    --button--width: 100%;
}

.button__width_square {
    --button--width: 3rem;
}

.button__width_small {
    --button--width: 5rem;
}

.button__width_medium {
    --button--width: 7rem;
}

.button__width_large {
    --button--width: 9rem;
}

/*#endregion*/