.konnekt-button {
    /**/
    height: var(--control--height-standard);
    width: var(--button--width);
    background-color: var(--color-pink);
    outline: var(--border-standard);
}

    .konnekt-button:hover {
        background-color: var(--color-pink-darken);
    }

    .konnekt-button:focus {
        background-color: var(--color-pink-darken);
        outline: var(--border-standard) !important;
    }

/*#region Width Modifiers*/

.konnekt-button__width_max {
    --button--width: 100%;
}

.konnekt-button__width_smallsquare {
    --button--width: 2rem;
    height: 2rem !important;
}

.konnekt-button__width_square {
    --button--width: 3rem;
}

.konnekt-button__width_small {
    --button--width: 5rem;
}

.konnekt-button__width_medium {
    --button--width: 7rem;
}

.konnekt-button__width_large {
    --button--width: 9rem;
}

/*#endregion*/