.konnekt-icon {
    font-size: var(--konnekt-icon--width);
    width: var(--konnekt-icon--width);
    padding: 0;
}

.konnekt-icon__width_extrasmall {
    --konnekt-icon--width: 1rem;
}

.konnekt-icon__width_small {
    --konnekt-icon--width: 2rem;
}

.konnekt-icon__width_medium {
    --konnekt-icon--width: 3rem;
}

.konnekt-icon__width_large {
    --konnekt-icon--width: 4rem;
}