.server-bar {
    width: var(--server-bar--width);
    border-right: var(--border-standard);
}

.server-bar--collapsed {
    --server-bar--width: auto;
}

.server-bar__controls {
    border-bottom: var(--border-standard);
}