.top-bar {
    height: var(--top-bar--height);
    border-bottom: var(--border-standard);
}

.top-bar__container {
    height: inherit;
}

.top-bar__user-controls {
    width: fit-content;
}

    .top-bar__user-controls > p {
        width: inherit;
    }
