@using Konnect.Service.DatabaseManager.Models
@using System.ComponentModel.DataAnnotations
@using Konnect.Service.Services.UserManagerHelperService
@using Konnekt.Presentation.Components.Base
@using Konnekt.Presentation.Components.KonnektFileInput
@using Konnekt.Presentation.Components.KonnektImageRenderer
@using Microsoft.AspNetCore.Identity

@page "/Account/Manage/ProfilePicture"
@rendermode InteractiveServer
@inherits PresentationBase

@inject UserManager<User> UserManager
@inject UserManagerHelper UserManagerHelper
@inject SignInManager<User> SignInManager

<PageTitle>Profile picture</PageTitle>

<h3>Profile picture</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="Input" OnValidSubmit="OnValidSubmitAsync">
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert" />

            <div class="d-flex flex-row">
                <KonnektImageRenderer ImageSource="@user?.ProfilePicture" />

                <div class="form-floating mb-3">
                    <KonnektInputFile OnChange="FileHandler"
                                      For="() => Input.File" />
                </div>

            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">
                Save
            </button>
        </EditForm>
    </div>
</div>

@code {
    private User? user = default!;

    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    protected override async Task OnParametersSetAsync()
    {
        user = await GetCurrentUserAsync();
        await base.OnParametersSetAsync();
    }

    private async Task OnValidSubmitAsync()
    {
        if (user is null)
            return;

        if (Input.File is not null)
        {
            var resp = await UserManagerHelper.UpdateUserProfileImage(user, Input.File);
            if (!resp.Success)
                return;
        }

        await SignInManager.RefreshSignInAsync(user);
    }

    private void FileHandler(InputFileChangeEventArgs e)
    {
        Input.File = e.File;
    }

    private sealed class InputModel
    {
        [Required]
        [Display(Name = "Profile picture")]
        public IBrowserFile? File { get; set; }
    }
}