@using Konnekt.Presentation.Components.Popup
@using Konnekt.Presentation.Components.ServerBar
@using Konnekt.Presentation.Components.TopBar
@using Microsoft.AspNetCore.Components.Rendering
@inherits LayoutComponentBase

<CascadingValue Value="this">

    <PopupController @ref="@PopupController" />

    <div class="main-layout">

        <TopBar />

        <div class="h-100 m-0 row">

            <ServerBar />

            @Body

        </div>
    </div>
</CascadingValue>