@page "/Error"
@inherits PresentationBase
@using System.Diagnostics
@using Konnekt.Presentation.Components.Base
@using Konnekt.Presentation.Components.Layout.Enums
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Http

<PageTitle>Error</PageTitle>
<div class="col">
    <h1 class="text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>

    @if (ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@RequestId</code>
        </p>
    }

    <h3 class="text-danger">Please contact us at bugs@kitwebsolutions.tech with recreation steps and any of the error codes listed below:</h3>
    @if (Layout is not null)
    {
        @foreach (var notification in Layout.Notifications)
        {
            if (notification.NotificationType == NotificationType.Error)
            {
                <div>
                    <p>@notification.NotificationMessage</p>
                </div>
            }
        }
    }
</div>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    private string? RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
