.konnektion-message__container {
}

    .konnektion-message__container:hover .konnektion-message__context-container {
        display: flex !important;
        flex-direction: column;
    }

.konnektion-message__text {
    width: 0rem;
}

.konnektion-message__text-header {
    margin: 0;
}

.konnektion-message__text-body {
    min-height: 2rem;
    margin: 0;
    overflow-wrap: break-word;
}

.konnektion-message__context-container {
    display: none;
}

.konnektion-message__context {
    width: 4rem;
}
