@using Konnekt.Presentation.Components.IconButton
<div class="top-bar">

    <div class="top-bar__container">
    <p class="top-bar__company-logo">[K] - Konnekt</p>

        <IconButton OnClick="ProfileClicked" Icon="fa-solid fa-user" />
    </div>

</div>