@using Konnekt.Presentation.Components.Button

<div class="top-bar w-100">

    <div class="top-bar-container px-4 d-flex justify-content-between align-items-center">

        <p class="m-0">[K] - Konnekt</p>

        <Button OnClick="ProfileClicked" ButtonSize="ButtonSize.Square" Icon="fa-solid fa-user" />

    </div>

</div>