<div class="server-item-container" onclick="">

    <div class="server-item-picture">
        <i class="fa-solid fa-earth-americas" />
    </div>

    <p class="server-item-name">
        @ServerName
    </p>

</div>