html {
    font-size: 62.5%;
    height: 100%;
}

body {
    margin: 0;
    height: inherit;
    background-color: var(--color-primary);
}

p, label {
    font-size: 1.2rem;
}

p, h1, h2, h3, h3, h4, h5, h6, i, label, hr, input {
    color: var(--color-white);
}
