html {
    /*[PRIMARY] Color: Very Dark Red - #300306 - rgb(48, 3, 6) */
    --color-primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-h: 356;
    --primary-s: 87%;
    --primary-l: 10%;
    /*[SECONDARY] Color: Red - #841f22 - rgb(132, 31, 34)*/
    --color-secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --secondary-h: 358;
    --secondary-s: 62%;
    --secondary-l: 32%;
    /*[TERTIARY] Color: Grey - #313435 - rgb(49, 52, 53)*/
    --color-tertiary: hsl(var(--tertiary-h), var(--tertiary-s), var(--tertiary-l));
    --color-tertiary-darken: hsl(var(--tertiary-h), var(--tertiary-s), calc(var(--tertiary-l) * var(--darken-mod)));
    --tertiary-h: 198;
    --tertiary-s: 4%;
    --tertiary-l: 20%;
    /*[INTERACTIONS] Color: Pink - #b64362 - rgb(182, 67, 98)*/
    --color-pink: hsl(var(--pink-h), var(--pink-s), var(--pink-l));
    --color-pink-darken: hsl(var(--pink-h), var(--pink-s), calc(var(--pink-l) * var(--darken-mod)));
    --pink-h: 344;
    --pink-s: 46%;
    --pink-l: 49%;
    /*White Color*/
    --color-white: hsl(var(--white-h), var(--white-s), var(--white-l));
    --white-h: 360;
    --white-s: 100%;
    --white-l: 100%;
    /*Onyx Color*/
    --color-black: hsl(var(--black-h), var(--black-s), var(--black-l));
    --black-h: 195;
    --black-s: 4%;
    --black-l: 2%;
    /*Darken Modifier*/
    --darken-mod: 0.5;
}
