@using Konnekt.Presentation.Components.ServerBar
@using Konnekt.Presentation.Components.TopBar
@inherits LayoutComponentBase

<div class="main-layout">
    
    <TopBar />

    <div class="main-layout__container">
        
        <ServerBar />

        @Body

    </div>

</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>