@using Konnekt.Presentation.Components.Base
@using Konnekt.Presentation.Components.KonnektButton
@using Konnekt.Presentation.Components.KonnektButton.Models
@inherits PresentationBase

    <KonnektButton Icon="@Icon"
                   Label="@Label"
                   ButtonSize="ButtonSize.Square"
                   OnClick="TogglePopoverState" />


<div class="@_popoverDisplayClass">

    <KonnektButton OnClick="TogglePopoverState" />

    <h1>TEST</h1>

</div>