@using Konnekt.Presentation.Components.ServerBar
@inherits LayoutComponentBase

<div style="display:flex; flex-direction:row;">
    <ServerBar />

    @Body
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
