@using Konnekt.Presentation.Components.KonnektButton
@using Konnekt.Presentation.Components.KonnektButton.Models
@using Konnekt.Presentation.Components.KonnektIcon
@inherits LayoutComponentBase
@layout AccountLayout
@inject NavigationManager NavigationManager

<div class="w-100 d-flex flex-column">
    <div class="w-100 ms-4 mt-4 d-flex flex-row">

        <NavLink class="nav-link me-4 align-self-center" href="/">
            <KonnektIcon Icon="fa-solid fa-house"
                         IconClass="me-2" />
            <p>Back</p>
        </NavLink>

        <h1>Account Settings</h1>
    </div>

    <div class="w-100 justify-content-center">
        <hr />
        <div class="row">
            <div class="col-md-3">
                <ManageNavMenu />
            </div>
            <div class="col-md-9">
                @Body
            </div>
        </div>
    </div>
</div>