@using Konnekt.Presentation.Components.Base
@using Konnekt.Presentation.Components.KonnektButton
@using Konnekt.Presentation.Components.KonnektButton.Models
@inherits PresentationBase

<div class="py-2 d-flex flex-row justify-content-center">

    <KonnektButton Icon="fa-solid fa-earth-americas"
            OnClick="OnServerClicked"
            Label="@(RenderServerName ? Server.ServerName : string.Empty)"
            ButtonSize="string.IsNullOrEmpty(Server.ServerName) ? ButtonSize.Square : ButtonSize.Max" />

</div>