@using Konnekt.Presentation.Components.Button
<div class="py-2 d-flex flex-row justify-content-center">

    <Button Icon="fa-solid fa-earth-americas"
            Label="@ServerName"
            ButtonSize="string.IsNullOrEmpty(ServerName) ? ButtonSize.Square : ButtonSize.Max" />

</div>